html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: system-ui, sans-serif;
  padding: 1.6rem 2rem;
  color: #252525;
}

.main-container {
  max-width: 400px;
  margin-inline: auto;
}

h1 {
  margin-top: 3.6rem;
  font-size: clamp(2.6rem, 4vw, 3.4rem);
  text-align: center;
}

p:first-of-type {
  text-align: center;
  margin-top: 0.5rem;
}

h1,
h3 {
  color: #2e1360;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-block: 2rem 1rem;
}

input {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.8rem;
  border-style: solid;
  border-color: lightgrey;
}

button,
input {
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.remember-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#remember {
  width: auto;
}

button {
  padding-block: 1rem;
  margin-block: 1.2rem 0.3rem;
  font-weight: 600;
  font-size: 1.6rem;
  background: #156b6a;
  color: #ffffff;
  border: none;
  transition: background-color .2s linear;
}

button:hover {
  background-color: #0a3534;
}

button, .remember-wrapper > * {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container a {
  color: red;
}

.sign-in {
  text-align: center;
  margin-top: 1rem;
}

.sign-in a {
  color: #156b6a;
  font-weight: 600;
}